*{
    margin: 0%;
    padding: 0;
}

h1{
    color: aliceblue;
}

.card{
    background-color: rgb(237, 250, 163);
}

body{
    background-color: rgb(26, 26, 90);
}

.path{
    display: flex;
    gap: 20px;
}